@{
  Layout = "_Layout";
}
@using Bakery.Models
<div class="container">
  <h2>Login or register an account here!</h2>
  <p>@Html.ActionLink("Register", "Register")</p>
  <p>@Html.ActionLink("Login", "Login")</p>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>