@{
  Layout = "_Layout";
}

@model Bakery.Models.Flavor

<div class="container">
  <h4>Add a new flavor</h4>
  
  <p>@Html.ValidationMessageFor(model => model.FlavorName, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.FlavorName, "Flavor")
    @Html.TextBoxFor(model => model.FlavorName)
    <br>
    <input type="submit" value="Add new flavor" class="" />
  }
  <p>@Html.ActionLink("Show all flavors", "Index")</p>
</div>